In [31]:
import yfinance as yf
import pandas as pd

dati_previsione = pd.read_csv("BTG.csv", index_col=0)
dati_previsione

            Open  High   Low  Close  Adj Close   Volume
Date
2008-06-24  1.44  1.44  1.44   1.44   1.267180        0
2008-06-25  1.44  1.44  1.44   1.44   1.267180        0
2008-06-26  1.18  1.18  1.18   1.18   1.038383     1000
2008-06-27  1.18  1.18  1.18   1.18   1.038383        0
2008-06-30  1.18  1.18  1.18   1.18   1.038383        0
...          ...   ...   ...    ...        ...      ...
2023-09-01  3.15  3.16  3.08   3.10   3.100000  6729300
2023-09-05  3.08  3.10  2.99   3.01   3.010000  7238300
2023-09-06  3.03  3.06  2.99   3.04   3.040000  7971100
2023-09-07  3.03  3.04  2.99   3.01   3.010000  8555900
2023-09-08  3.01  3.07  3.00   3.03   3.030000  6154800

[3829 rows x 6 columns]